<ion-view view-title="Home"  hide-back-button="true" >
    <ion-content scroll="false" ng-class="{expanded:$scope.isExpanded}"  style="background-image: url('img/blue.jpg');">
        <div class="hero slide-up" style="background-image: url('img/blue.jpg');">
            <div class="content">
              <div class="app-icon "></div>
                <h3><a class="light"> </a></h3>

            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.mycases" class="tab-item">
                <i class="icon ion-android-folder"></i> My Cases
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-folder-open"></i> Create  Case
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-calendar"></i> Calender
            </a>


            <a ui-sref="app.notification" class="tab-item">
                <i class="icon ion-android-chat"></i> Notifications
            </a>
        </div>

        <div class="list animate-fade-slide-in-right"  style=" height:100%;">
          <br>  </br>



        </div>
    </ion-content>
</ion-view>
